body{
	background-color: black;

}

*{
	box-sizing: border-box;
	background-size: contain;
	background-size: 100%;
	background-repeat: no-repeat;
}

.flex{
	display: flex;
}

.header{
	position: relative;
	background-color: black;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.logo{
	height: 100px;
	

}

.form{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	direction: column;
	
}

article{
	position: relative;
	display: none;
	flex-basis: 100%;
	height: 200px;
}

.font_opensans{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.bold_font{
	font-weight: 600;
}

.white_text{
	color: white;

}

.footer_text{
	display: flex;
	color: #c1c1c1;
	font-size: 1em;


}

.footer{
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.results{
	position: relative;
	flex-wrap: wrap;
}



.excerpt{
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	bottom: 0;
	left: 0;
	padding: 10px;
	
}

.excerpt_text{
	padding: 0, 10px, 0, 10px;
}

.initial_position{
	height: 30em;
	align-items: center;
	flex-direction: column;
}

.pre_logo{
	height: 18.750em;
}

.space{
	height: 100%;
}


@media only screen and (min-width: 1024px){
	article{
		position: relative;
		display: none;
		flex-basis: 25%;
		height: 400px;
	}

	*{
		background-size: cover;
	}

	.header{
		position: relative;
		background-color: black;
		height: 150px;
		align-items: center;
		}

	.footer_text{
		display: flex;
		font-size: 1.5em;
		align-self: flex-end;
		
	}

	.footer{
		display: flex;
		align-items: flex-end;
	}

	body{
		display: flex;
		padding-top: 50px;
		align-items: flex-start;
		height: 100vh;
		justify-content: center;
		
	}

}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
	article{
		position: relative;
		display: none;
		flex-basis: 33%;
		height: 400px;
	}
	*{
		background-size: cover;
	}


}










