body{
	background-color: black;
}

*{
	box-sizing: border-box;
	background-size: cover;
}

.flex{
	display: flex;
}

.header{
	position: relative;
	background-color: black;
	height: 150px;
	align-items: center;
}

.logo{
	height: 100px;
	padding-left: 30px;
}

article{
	position: relative;
	display: none;
	flex-basis: 25%;
	height: 400px;
}

.font_opensans{
	font-family: 'Open Sans', sans-serif;
}

.white_text{
	color: white;
}

.results{
	position: relative;
	flex-wrap: wrap;
}

.pic{
	background-repeat: no-repeat;

}

.excerpt{
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, .5);
	bottom: 0;
	left: 0;
	padding: 10px;
	
}

.excerpt_text{
	padding: 0, 10px, 0, 10px;
}

.initial_position{
	height: 50em;
	align-items: center;
}

.pre_logo{
	height: 18.750em;
}

.hide{
	
}